button {
  font-size: 1rem;
  color: rgb(170, 233, 69);
  background-color: azure;
  width: 150px;
  height: 40px;
  margin-left: 75px;
  margin-top: 40px;
  border-style: none;
  border-radius: 10px;
  box-shadow: rgb(66, 6, 64) 2px 10px 20px 0px;
}
button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: palevioletred;
  background-size: 400%;
  border-radius: 50px;
  opacity: 0;
  transition: 0.5s;
}
button:hover {
  background-color: blueviolet;
}

